@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');


@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2');

.logo-name {
    font-family: 'Nothing You Could Do' ;
}

.nav-links {
  font-family: 'Baloo Da 2', sans-serif;
}

.section-title {
    font-family: 'Baloo Da 2', sans-serif;
}
.svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #fff;
  }
  
  .svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
  }

  .gradient {
    background: linear-gradient(90deg, #2B4364 0%, #2B4364 100%);
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  color: #2B4364;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  border-radius: 0.25rem;
  height: 1.2em;
    width: 1.2em;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: #2B4364;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}