@tailwind base;

@font-face {
    font-family: 'NothingYouCouldDo';
    font-weight: 500;
    src: url(../fonts/NothingYouCouldDo-Regular.ttf) format("ttf");
}

@font-face {
    font-family: 'IndieFlower';
    font-weight: 500;
    src: url(../fonts/IndieFlower-Regular.ttf) format("ttf");
}

@tailwind components;

@tailwind utilities;
